<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="jquery-3.7.0.min.js"></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="panel">Panel</div>
    <button id="btn">Button</button>

    <!-- Image Slider -->
    <div class="slider-carousel">
        <!-- arrow kiri -->
        <!-- div.carousel-arrow#left-arrow -->
        <div class="carousel-arrow" id="left-arrow">
            <img src="left-arrow.png" alt="">
        </div>

        <!-- isi slider -->
        <div class="carousel">
            <div class="carousel-image-container">
                <img src="cover-1.jpg" alt="" class="carousel-image">
                <img src="cover-2.jpg" alt="" class="carousel-image">
                <img src="cover-3.jpg" alt="" class="carousel-image">
                <img src="cover-4.jpg" alt="" class="carousel-image">
            </div>
        </div>

        <!-- arrow kanan -->
        <div class="carousel-arrow" id="right-arrow">
            <img src="right-arrow.png" alt="">
        </div>
    </div>
</body>
</html>